body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  height: 1500px;
}

.RedBox {
  height: 100%;
  width: 100%;
  background-color: salmon;
  position: fixed;
  top: 0;
}

.Box {
  height: 100%;
}

.BlueBox {
  width: 80%;
  background-color: skyblue;
  position: fixed;
  top: 100px;
}

.BlueBox h1 {
  color: white;
  font-size: 50px;
  margin-top: 50px;
  margin-left: 50px;
}

.YellowBox {
  width: 20%;
  background-color: gold;
  position: fixed;
  top: 100px;
  right: 0px;
  border: 5px solid grey;
}

.GreenBox {
  height: 50px;
  width: 150px;
  background-color: greenyellow;
  position: fixed;
  top: 80px;
  right: 80px;
}
